<div class="row justify-content-center bg-white pad">
    <div class="col-8">
        <div *ngIf="airport">
            <h2><span>Airport</span> {{airport.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{airport.name}}</span>
                </dd>
                <dt><span>Airport</span></dt>
                <dd>
                    <span>{{airport.airport}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{airport.city}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/airport', airport.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
