.bg-tegra {
    background: url('../../../content/images/bg-tegra.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100% !important;
    //margin-top: 0px !important;
}

.jh-card {
    margin-top: 0px;
    background-color: transparent !important;
}
