<div class="bg-white container-fluid col-md-12 pad">
    <h2 id="page-heading">
        <span>Airplane Trips</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div>


        <div class="col-8">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                <h2 id="jhi-airplane-trip-heading">Create or edit a Airplane Trip</h2>
                <div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_airline">Empresa Aérea</label>
                        <select class="form-control" id="field_airline" name="airline"
                                [(ngModel)]="airplaneTrip.airline">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="airlineOption.id === airplaneTrip.airline?.id ? airplaneTrip.airline : airlineOption"
                                *ngFor="let airlineOption of airlines; trackBy: trackAirlineById">{{airlineOption.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_departureDate">Data de Partida</label>
                        <div class="input-group">
                            <input id="field_departureDate" type="text" class="form-control" name="departureDate"
                                   ngbDatepicker #departureDateDp="ngbDatepicker"
                                   [(ngModel)]="airplaneTrip.departureDate"
                            />
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="departureDateDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_arrivalDate">Arrival Date</label>
                        <div class="input-group">
                            <input id="field_arrivalDate" type="text" class="form-control" name="arrivalDate"
                                   ngbDatepicker #arrivalDateDp="ngbDatepicker" [(ngModel)]="airplaneTrip.arrivalDate"
                            />
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="arrivalDateDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_departureAirport">Aeroporto de Partida</label>
                        <select class="form-control" id="field_departureAirport" name="departureAirport"
                                [(ngModel)]="airplaneTrip.departureAirport">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="airportOption.id === airplaneTrip.departureAirport?.id ? airplaneTrip.departureAirport : airportOption"
                                *ngFor="let airportOption of airports; trackBy: trackAirportById">{{airportOption.name}}
                                ({{airportOption.airport}})
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_arrivalAirport">Aeroporto de Chegada</label>
                        <select class="form-control" id="field_arrivalAirport" name="arrivalAirport"
                                [(ngModel)]="airplaneTrip.arrivalAirport">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="airportOption.id === airplaneTrip.arrivalAirport?.id ? airplaneTrip.arrivalAirport : airportOption"
                                *ngFor="let airportOption of airports; trackBy: trackAirportById">{{airportOption.name}}
                                ({{airportOption.airport}})
                            </option>
                        </select>
                    </div>
                    <button id="jh-create-entity"
                            class="btn btn-primary"
                            [routerLink]="['/airplanetrip/search-view']">
                        <fa-icon [icon]="'search'"></fa-icon>
                        <span>
                        Busca Avançada
                    </span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
