<div class="bg-white container-fluid col-md-12 pad">
    <h2 id="page-heading">
        <span>Viagens</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-airplanetrip" [routerLink]="['/airplanetrip/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Nova Viagem
            </span>
        </button>
        <button id="jh-import-entities" class="btn btn-success float-right jh-create-entity create-airplanetrip" (click)="import()">
            <fa-icon [icon]="'search'"></fa-icon>
            <span >
            Importar
            </span>
        </button>

    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="airplanetrips">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flight"><span>Voo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="departureDate"><span>Data Saída</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="arrivalDate"><span>Data Saída</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="departureTime"><span>Hora Saída</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="arrivalTime"><span>Hora Chegada</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span>Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="departureAirport.airport"><span>Aeroporto Saída</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="arrivalAirport.airport"><span>Aeroporto Chegada</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="airline.name"><span>Companhia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let airplanetrip of airplanetrips ;trackBy: trackId">
                <td><a [routerLink]="['/airplanetrip', airplanetrip.id, 'view' ]">{{airplanetrip.id}}</a></td>
                <td>{{airplanetrip.flight}}</td>
                <td>{{airplanetrip.departureDate | date:'mediumDate'}}</td>
                <td>{{airplanetrip.arrivalDate | date:'mediumDate'}}</td>
                <td>{{airplanetrip.departureTime | date:'medium'}}</td>
                <td>{{airplanetrip.arrivalTime | date:'medium'}}</td>
                <td>{{airplanetrip.price}}</td>
                <td>
                    <div *ngIf="airplanetrip.departureAirport">
                        <a [routerLink]="['../airport', airplanetrip.departureAirport?.id, 'view' ]" >{{airplanetrip.departureAirport?.airport}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="airplanetrip.arrivalAirport">
                        <a [routerLink]="['../airport', airplanetrip.arrivalAirport?.id, 'view' ]" >{{airplanetrip.arrivalAirport?.airport}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="airplanetrip.airline">
                        <a [routerLink]="['../airline', airplanetrip.airline?.id, 'view' ]" >{{airplanetrip.airline?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/airplanetrip', airplanetrip.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Detalhes</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/airplanetrip', airplanetrip.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'airplanetrip', { outlets: { popup: airplanetrip.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Remover</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="airplanetrips && airplanetrips.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
