<div class="row">
    <div class="col-md-12">
        <div class="row top-row">
            <div class="col-md-3">
                <span class="hipster img-fluid rounded"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-white">Desafio TEGRA</h1>
                <p class="lead  text-white">Essa é uma página pra facilitar o uso do ALGORITMO</p>

                <div [ngSwitch]="isAuthenticated()">
                    <div class="alert alert-success text-center" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                > <b>"{{account.login}}"</b> seja bem vindo. </span>
                    </div>

                    <div class="alert alert-warning" *ngSwitchCase="false">
                        <span>Para acessar os recurs você deve estar logado!, </span>
                        <a class="alert-link" (click)="login()">clique aqui</a><span>, usando as contas default<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
                    </div>
                    <div class="alert alert-warning" *ngSwitchCase="false">
                        <span>Se não tem conta, então, </span>&nbsp;
                        <a class="alert-link" routerLink="register">registre-se!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
